@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Automobile Contest";
    src: url("../../fonts/AutomobileContest.ttf");
  }
  
  @font-face {
    font-family: "Oswald";
    src: url("../../fonts/Oswald.ttf");
  }

  @font-face {
    font-family: "Manrope";
    src: url("../../fonts/Manrope.ttf");
  }

  @font-face {
    font-family: "Georgia Pro";
    src: url("../../fonts/GeorgiaPro.ttf");
  }
}
